{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block body %}
    <nav class='nav_bar'>
        <a href="/logout" class="btn">ログアウトする</a>
    </nav>

    
    <a class="btn btn-info btn-lg m-5" href="/create" role='button' style="color: black;">CREATE NEW TASK</a>

    
    
    {% for post in posts %}
    {% if name == post.user_name %}
    <div class="card w-50 mb-3" style="margin: auto;">
        <div class="card-body">
            {% if post.due.date() < today %} 
            <div class="alert alert-warning" role="alert">期限切れです！</div>
            {% endif %}
            <h2 class="card-title">タイトル：{{post.title}}</h2>
            <p>期限：{{post.due.date()}}</p>
            <a class="btn btn-secondary btn-sm" href="detail/{{ post.id }}" role='button'>Detail</a>
            <a class="btn btn-success btn-sm" href="update/{{ post.id }}" role='button'>Update</a>
            <a class="btn btn-danger btn-sm" href="delete/{{ post.id }}" role='button'>delete</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}


    <p>下は登録されてるユーザー名</p>
    {% for user in all_user %}
    <div>
        ユーザー名{{user.user_name}}
    </div>
    {% endfor %}
{% endblock %}