{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/top_newcomer.css">
{% endblock %}
{% block body %}
    <div class="background"></div>
    <div class="card center col-11 col-sm-6">
        <div class="card-body">
            <h1 class="card-title">ログイン</h1>
            <form action="/login" method="post">
                <label for="exampleInputEmail1" class="form-label">ユーザ名</label>
                <input type="text" class='form-control' name="user_name" placeholder="user_name">
                <label for="exampleInputPassword1" class="form-label">パスワード</label>
                <input type="password" class='form-control' name="password" placeholder="password">
                <input type="submit" class='btn btn-primary' value="ログイン">
            </form>
            <a href="/newcomer">新規登録はこちら</a>
        </div>
        {% if status == "user_notfound" %}
        <p>ユーザが見つかりません。新規登録しましょう。</p>
        {% elif status == "wrong_password" %}
        <p>パスワードが間違っています。</p>
        {% endif %}
    </div>    
{% endblock %}